.footer{
    width:100%;
    background-color:var(--general-blue);
    text-align:center;
    font-weight:bold;
    padding: 20px 0 20px 0;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.bottomNav{
  width:50%;
  margin:20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.bottomNav a{
  color:white;
}
.link{
  color:white !important;
}
