.container {
    flex: 0 1 auto;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index:100;
}

.navbar {
    height: 60px;
    background-color: var(--nav-background);
    position: fixed;
    width:100%;
}

.logo img {
    height: 55px;
}

.navElements {
}

.navElements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navElements ul li:not(:last-child) {
    margin-right: 60px;
}

.navElements ul a {
    font-family:NavFont;
    font-size: large;
    font-weight: 400;
    color: var(--nav-text);
    text-decoration: none;
}

.navElements ul a.active {
    font-weight: 500;
    text-decoration:underline;
}

.navElements ul a.active::after {
    /* content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c; */
}

.navElements ul a:hover{
    text-decoration:underline;
}

.navElements {
    display: block;
}

/* div.hamburgerIcon {
    display: none;
} */

.subNavElements {
    position:fixed;
    right:-70%;
    top:60px;
    transition: right 0.4s ease;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right, #F37C39, #FFAA00);
    padding:5px;
    border-radius:20px;
}

.subNavElements::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white; /* Background color of the inner content */
    border-radius: 5px; /* Optional: match with outer border radius */
    margin: 5px; /* Same as padding to create the border effect */
    border-radius:20px;
}
.subNavElementContents {
    position: relative;
    background: white;
    border-radius: 5px; /* Optional: match with outer border radius */
    z-index: 1;
    padding:20px;
    border-radius:20px;
}

.subNavElementContents a{
    text-decoration:none;
    color:black;
    display:block;
    padding:5px;
    text-align:center;
    border-radius:100px;
}
.subNavElementContents a:hover{
    border:1px solid black;
}

.subNavElements.navOpen{
    right:10px;
}

@media (max-width: 768px) {
    
    .subNavElements a{
        font-size:xxx-large;
    }
    .navElements {
        display: none;
    }

    div.hamburgerIcon {
        display: flex;
    }
}