<div class="main-content">
    <h1>Services and Plans</h1>
    <table class="display-table">
        <tr>
            <th></th>
            <th>Single Service</th>
            <th>Bi-Seasonal Service</th>
            <th>Multi Service</th>
        </tr>
        <tr>
            <td>Exterior</td>
            <td id="exterior-single">Loading...</td>
            <td id="exterior-bi">Loading...</td>
            <td id="exterior-multi">Loading...</td>
        </tr>
        <tr>
            <td>Interior</td>
            <td id="interior-single">Loading...</td>
            <td id="interior-bi">Loading...</td>
            <td id="interior-multi">Loading...</td>
        </tr>
        <tr>
            <td>Screens</td>
            <td id="screen-single">Loading...</td>
            <td id="screen-bi">Loading...</td>
            <td id="screen-multi">Loading...</td>
        </tr>
    </table>
    <h1>More ways to save</h1>
    <table class="display-table">
        <tr>
            <th></th>
            <th>QTY</th>
            <th>Savings</th>
            <th>Check</th>
        </tr>
        <tr>
            <td>Exclude my window well panes</td>
            <td>
                <div class="count-options">
                    <a class="clear-button decrease" pointer='exclude-panes-count'>-</a>
                    <div id="exclude-panes-count">0</div>
                    <a class="clear-button increase" pointer='exclude-panes-count'>+</a>
                </div>
            </td>
            <td>You'd save <span id="well-savings">$0</span></td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="exclude-window-well" id="exclude-window-well" class="checkbox-input" />
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Exclude my french well panes</td>
            <td>
                <div class="count-options">
                    <a class="clear-button decrease" pointer='exclude-french-count'>-</a>
                    <div id="exclude-french-count">0</div>
                    <a class="clear-button increase" pointer='exclude-french-count'>+</a>
                </div>
            </td>
            <td>You'd save <span id="french-savings">$0</span></td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="exclude-french" id="exclude-french" class="checkbox-input" />
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Water Fed Pole Exterior
                <div class="info-container">
                    <div class="info-icon">
                        i
                    </div>
                    <div class="info-content">
                        This is the relevant info
                    </div>
                </div>
            </td>
            <td>N/A</td>
            <td>You'd save <span id="wfp-savings"></span></td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="wfp" id="wfp" class="checkbox-input" />
                    <span class="checkmark" onclick="toggleWfp()"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>I will remove and replace my own screens</td>
            <td>N/A</td>
            <td>You'd save $25</td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="wfp" id="screen-replace" class="checkbox-input" />
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
    </table>
    <h1>Additional Services</h1>
    <table class="display-table">
        <tr>
            <th></th>
            <th>Select a bubble to get in contact about a quote</th>
        </tr>
        <tr>
            <td>Screen Repair
                <div class="info-container">
                    <div class="info-icon">
                        i
                    </div>
                    <div class="info-content">
                        This is the relevant info
                    </div>
                </div>
            </td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="screen-repair" id="screen-repair" class="checkbox-input" />
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Screen Replacement
                <div class="info-container">
                    <div class="info-icon">
                        i
                    </div>
                    <div class="info-content">
                        This is the relevant info
                    </div>
                </div>
            </td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" name="screen-replacement" id="screen-replacement" class="checkbox-input" />
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
    </table>
</div>
<h1 class="no-print">Need some time to think about it?</h1>
<div class="save-or-print no-print">
    <p>Save or Print a copy of your quote and reach out when you are ready to schedule!</p>
    <div class="next-button" onclick="window.print()">Print</div>
</div>
<div class="btn-row no-print">
    <div class="next-button" onclick="goToStep(3)">Previous</div>

        <div class="progress-bar">
          <div class="step-progress completed">
            <div class="bubble">1</div>
          </div>
          <div class="step-progress completed">
            <div class="line"></div>
            <div class="bubble">2</div>
          </div>
          <div class="step-progress completed">
            <div class="line"></div>
            <div class="bubble">3</div>
          </div>
          <div class="step-progress completed">
            <div class="line"></div>
            <div class="bubble">4</div>
          </div>
          <div class="step-progress">
            <div class="line"></div>
            <div class="bubble">5</div>
          </div>
        </div>

    <div class="next-button" onclick="goToStep(5)">Schedule</div>
</div>