
<h1>How many stories do you have?</h1>
<div class="floors-wrapper">
    <div></div>
    <div class="floor-numbers">
        <div class="floor-number" num="4" onclick="setFloors(4)">4+</div>
        <div class="floor-number" num="3" onclick="setFloors(3)">3</div>
        <div class="floor-number" num="2" onclick="setFloors(2)">2</div>
        <div class="floor-number" num="1" onclick="setFloors(1)">1</div>
    </div>
    <div class="floors-house" active-floors="1">
        <div class="house-floor house-4"><img src="static/images/top-floor.png"/></div>
        <div class="house-floor house-3"><img src="static/images/middle-floor.png"/></div>
        <div class="house-floor house-2"><img src="static/images/middle-floor.png"/></div>
        <div class="house-floor house-1"><img src="static/images/bottom-floor.png"/></div>
    </div>
    <div></div>
</div>
<div class="next-button disabled" onclick="loadStep('panes')" style="float:right;">Next</div>