
<h1>Do any of your panes need a deeper clean?</h1>
    <div class="main-content">
        <div class="panes-display">
        <div class="panes-count-1">
            <h3>Standard Pane</h3>
            <img src="static/images/standard-pane.png"/>
            <div class="count-options">
                <a class="clear-button decrease" pointer='standard-pane-deep-count'>-</a>
                <div id="standard-pane-deep-count">0</div>
                <a class="clear-button increase" pointer='standard-pane-deep-count'>+</a>
            </div>
        </div>
        <div class="panes-count-2">
            <h3>French Pane</h3>
            <img src="static/images/french-pane.png"/>
            <div class="count-options">
                <a class="clear-button decrease" pointer="standard-french-pane-deep-count">-</a>
                <div id="standard-french-pane-deep-count">0</div>
                <a class="clear-button increase" pointer="standard-french-pane-deep-count">+</a>
            </div>
        </div>
    </div>
    <p>Price Increase: <span id="price_increase">$0.00</span></p>
    <h3>Only add panes that have tough stains and require a deeper clean. Common types of stains that require
        more attention are concrete, paint, tree sap or <span style="text-decoration:underline">hard water</span>.
        Panes with tough stains that aren’t added here will not receive our deeper clean service.</h3>
</div>