

<h1>Customer Information</h1>
<div class="main-content">
    <div class="final-form">
        <div class="label-and-input">
            <label>First Name</label>
            <input id="first-name" name="first-name" />
        </div>
        <div class="label-and-input">
            <label>Last Name</label>
            <input id="last-name" name="last-name" />
        </div>
        <div class="label-and-input">
            <label>Phone Number</label>
            <input id="phone" name="phone" />
        </div>
        <div class="label-and-input">
            <label>Email</label>
            <input id="email" name="email" />
        </div>
    </div>
    <div class="final-form">
        <embed src="/static/pdfs/test_pdf.pdf" width="500px" height="600px" />
        <div class="label-and-input">
            <label>Client Agreement Signature</label>
            <input id="signature" name="signature" placeholder="Please type your full name" />
        </div>
    </div>
</div>