<h1>Count your individual window panes</h1>
<div class="main-content">
    <table class="step-2-grid">
        <tr>
            <td style="position:relative">
                <div class="generic-panes">
                    <h3>1st Story Window Panes
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div>
                    </h3>
                    <img src="static/images/first-story-panes.png"/>
                    <div class="panes-count-1">
                        <h3>Standard Pane
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div></h3>
                        <img src="static/images/standard-pane.png"/>
                        <div class="count-options">
                            <a class="clear-button decrease" pointer='standard-pane-count'>-</a>
                            <div id="standard-pane-count">0</div>
                            <a class="clear-button increase" pointer='standard-pane-count'>+</a>
                        </div>
                    </div>
                    <div class="panes-count-2">
                        <h3>French Pane
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div></h3>
                        <img src="static/images/french-pane.png"/>
                        <div class="count-options">
                            <a class="clear-button decrease" pointer="standard-french-pane-count">-</a>
                            <div id="standard-french-pane-count">0</div>
                            <a class="clear-button increase" pointer="standard-french-pane-count">+</a>
                        </div>
                    </div>
                </div>
                <div class="white-square-blocker"></div>
            </td>
            <td>
                <div class="generic-panes">
                    <h2>2nd+ Story Window Panes
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div></h2>
                    <img src="static/images/high-story-panes.png"/>
                    <div class="panes-count-1">
                        <h3>Standard Pane
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div></h3>
                        <img src="static/images/standard-pane.png"/>
                        <div class="count-options">
                            <a class="clear-button decrease" pointer="high-pane-count">-</a>
                            <div id="high-pane-count">0</div>
                            <a class="clear-button increase" pointer="high-pane-count">+</a>
                        </div>
                    </div>
                    <div class="panes-count-2">
                        <h3>French Pane
                        <div class="info-container">
                            <div class="info-icon">
                                i
                            </div>
                            <div class="info-content">
                                This is the relevant info
                            </div>
                        </div></h3>
                        <img src="static/images/french-pane.png"/>
                        <div class="count-options">
                            <a class="clear-button decrease" pointer="high-french-pane-count">-</a>
                            <div id="high-french-pane-count">0</div>
                            <a class="clear-button increase" pointer="high-french-pane-count">+</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pane-image">
                    <h2>Window Well Panes</h2>
                    <img src="static/images/window-well-pane.png"/>
                    <div class="count-options">
                        <a class="clear-button decrease" pointer="window-well-panes">-</a>
                        <div id="window-well-panes">0</div>
                        <a class="clear-button increase" pointer="window-well-panes">+</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="pane-image">
                    <h2>Screens</h2>
                    <img src="static/images/screen.png"/>
                    <div class="count-options">
                        <a class="clear-button decrease" pointer="screens">-</a>
                        <div id="screens">0</div>
                        <a class="clear-button increase" pointer="screens">+</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="next-button disabled" onclick="loadStep('shortquote')" style="float:right;">Next</div>