
/***********************************************

            General

 *********************************************/
#estimate{
    width:90%;
    height:90%;
    margin:0px auto;
}
h1{
    margin-top:10px;
    padding-bottom:20px;
    text-align:center;
    color:#FFA629;
    border-bottom:3px solid #83A9D9;
}
.step{
    width:100%;
    height:80%;
}
.step.current{
    visibility:visible;
    height:100%;
    display:flex;
    flex-direction:column;
}
.main-content{
    flex-grow:1;
}

.next-button{
    background-color:#FFA629;
    width:150px;
    text-align:center;
    color:white;
    font-size:25px;
    border-radius:5px;
    text-decoration:none;
    border:none;
}
.next-button:hover{
    background-color:#83A9D9;
}
.btn-row{
    display:flex;
    justify-content: space-between;
}

.progress-bar {
  display: flex;
  align-items: center;
    flex-direction:row;
    color:white;
}

.step-progress {
  display: flex;
  align-items: center;
}

.line {
  height: 2px;
  width: 30px; /* Or whatever distance you want between bubbles */
  background-color: #FFA629;
}

.bubble {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFA629;
    display:flex;
    align-items: center;
    justify-content: center;
  margin: 0 5px; /* To give some spacing between line and bubble */
}

/* Styles for completed steps */
.completed .line,
.completed .bubble {
  background-color: #83A9D9;
}


.info-container {
  position: relative;
  display: inline-block;
}

.info-icon {
  width: 30px;
  height: 30px;
  background-color: #83A9D9; /* Circle color */
  color: white;
  border-radius: 50%; /* Create a circle */
  text-align: center;
  line-height: 30px; /* Vertically center the "i" */
  cursor: pointer;
  font-size: 18px;
}

.info-content {
  display: none;
  position: absolute;
  top: 0;
  left: 40px; /* Adjust the distance from the icon */
  padding: 10px;
  background-color: #f0f0f0; /* Background color for the content */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-container:hover .info-content {
  display: block;
}




/***********************************************

            Step 0

 *********************************************/


.floors-wrapper{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.floor-numbers{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.floor-number{
    background-color:#FFA629;
    width:100px;
    text-align:center;
    color:white;
    font-size:40px;
    border-radius:5px;
    margin-bottom:20px;
}
.floor-number.active{
    background-color:#83A9D9;
}
.floor-number:hover{
    background-color:#83A9D9;
}


.floors-house {
    position: relative;
    display:grid;
    grid-template-columns:1fr;
    transition:height 0.5s, grid-template-rows 0.5s;
    overflow:hidden;
    width:212px;
}
.floors-house[active-floors="1"]{
    height:139px;
    grid-template-rows:139px 0px 0px 0px;
}
.floors-house[active-floors="2"]{
    height:240px;
    grid-template-rows:139px 0px 0px 101px;
}
.floors-house[active-floors="3"]{
    height:317px;
    grid-template-rows:139px 0px 77px 101px;
}
.floors-house[active-floors="4"]{
    height:394px;
    grid-template-rows:139px 77px 77px 101px;
}

.house-floor {
    background-color: #f0f0f0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.house-floor img {
    width:100%;
    height:100%;
}

.house-4{
    grid-row:1/2;
}
.house-3{
    grid-row:2/3;
}
.house-2{
    grid-row:3/4;
}
.house-1{
    grid-row:4/5;
}
#step-too-high{
    width:50%;
    margin: 0 auto;
}
#step-too-high div{
    display:flex;
    justify-content: space-between;
}


/***********************************************

            Step 1

 *********************************************/
.step-2-grid{
    width:100%;
    height:80%;
}
.generic-panes{
    width:100%;
    height:100%;
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 2fr 2fr;
}
td{
  border:3px solid #83A9D9;
}
td:first-child, th:first-child {
 border-left: none;
}
td:last-child{
    border-right:none;
}
tr:first-child td{
    border-top:none;
}
tr:last-child td{
    border-bottom:none;
}
.white-square-blocker{
    background-color:white;
    width:50px;
    height:50px;
    position:absolute;
    right:-25px;
    bottom:-25px;
}
.generic-panes>h2{
    text-align:left;
    color:#FFA629;
    grid-row:1/2;
    grid-column:1/3;
    width:90%;
}
h3{
    color:#FFA629;
}
.generic-panes>img{
    height:200px;
    grid-row:2/-1;
    grid-column:1/2;
}
.panes-count-1{
    grid-row:2/3;
    grid-column:2/3;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.panes-count-2{
    grid-row:3/4;
    grid-column:2/3;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.generic-panes div img{
    height:100px;
}
.count-options{
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size:20px;
    width:45px;
}
.count-options a{
    color:black;
    border:0;
    text-decoration:none;
    padding:5px;
}
.pane-image h2{
    color:#FFA629;
    width:90%;
    text-align:left;
}
.pane-image{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pane-image img{
    height:150px;
}


/***********************************************

            Step 2

 *********************************************/
.map-wrapper{
    width:50%;
    margin:auto;
}
.map-wrapper p{
    background-color:#83A9D9;
    color:white;
    text-align:center;
    margin-bottom:0px;
    padding:5px;
}


/***********************************************

            Step 3

 *********************************************/

.panes-display{
    display:flex;
}
.panes-display>div{
    flex:1;
}
.panes-display img{
    width:250px;
    height:350px;
}
.panes-display .panes-count-1{
    border-right:3px solid #83A9D9;
}
#step-4 p{
    text-align:center;
    color:#83A9D9;
}
#step-4 h3{
    width:65%;
    text-align:center;
    margin: auto;
}
#price_increase{
    color:#FFA629;
}


/***********************************************

            Step 3

 *********************************************/
table.display-table{
    border-radius: 15px;
    font-size: 20px;
    margin:0px auto;
    text-align:center;
}
table.display-table tr th{
    background-color:#83A9D9;
    padding:5px 25px 5px 25px;
}
table.display-table tr:nth-child(odd) td{
    background-color: #FEF6DF;
    padding:5px;
}
table.display-table tr:nth-child(even) td{
    background-color: #FFDAA5;
    padding:5px;
}
/*I couldn't get it to work any other way :( */
table.display-table tr th:first-child{
    border-top-left-radius:15px;
}
table.display-table tr th:last-child{
    border-top-right-radius:15px;
}
table.display-table tr:last-child td:first-child{
    border-bottom-left-radius:15px;
}
table.display-table tr:last-child td:last-child{
    border-bottom-right-radius:15px;
}
/* The container */
.checkbox-container {
    display: flex;
    justify-content:center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    height: 35px;
    width: 35px;
    border-radius:25px;
    border: 2px solid #83A9D9;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #83A9D9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.strike{
    display:block;
    text-decoration: line-through;
}

.save-or-print{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}
.save-or-print p{
    color:#FFA629;
    margin-right:30px;
    margin-bottom:0px;
}

@media print{
    .no-print{
        height:0px;
        display:none !important;
    }
}


/***********************************************

            Step 5

 *********************************************/

#step-5 .main-content{
    display:flex;
}
.final-form{
    flex:1;
}
.final-form .label-and-input{
    display:flex;
    flex-direction:column;
    margin: 15px auto 15px auto;
    width:50%;
}
.label-and-input label{
    color:#FFA629;
}
.label-and-input input{
    border:1px solid #83A9D9;
}



@media only screen and (max-width: 1000px) {

    .main-content{
        display:flex;
        justify-content: center;
    }

    .step-2-grid{
        height:auto;
        margin:auto;
    }
    .generic-panes{
        grid-template-rows:repeat(4, 1fr);
        grid-template-columns:1fr;
    }
    .generic-panes>h2{
        grid-column:1/2;
        grid-row:1/2;
    }
    .generic-panes>img{
        grid-column:1/2;
        grid-row:2/3;
    }
    .generic-panes .panes-count-1{
        grid-column:1/2;
        grid-row:3/4;
    }
    .generic-panes .panes-count-2{
        grid-column:1/2;
        grid-row:4/5;
    }
    .pane-image h2{
        text-align:center;
        margin:20px;
    }
    .count-options{
        width:auto;
        font-size:50px;
    }

    #step-2 .main-content, #step-3 .main-content, #step-4 .main-content, #step-5 .main-content{
        flex-direction: column;
        align-items: center;
    }
    .map-wrapper{
        width:100%;
    }

    .final-form{
        width:100%;
    }
    .label-and-input{
        width:80%;
        font-size:40px;
    }
    embed{
        margin:auto;
        display:block;
    }

}


#wash-quote{
    text-align:center;
    color:#FFA629;
    margin:60px;
}
#save-info{
    color:#FFA629;
}


.quote-info h2{
    text-align:center;
}

.login-box{
    border:1px solid black;
    margin:0px auto;
}