body, html{
    width:100%;
    height:100%;
    margin:0px;
    color:white;
}

.orange-text{
    color:#fc5000;
}
.blue-text{
    color:#30799B;
}

.generic-head{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/images/home_house.png");
    background-size: 100%;
    background-position:25%, 50%;
    background-repeat:no-repeat;
    height:25%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    color:white;
    margin-bottom:30px;
    text-align:center;
}

/****************************************
        NAVIGATION
*****************************************/

.navbar{
    background-color:#B3B3B3;
}
.navbar-brand img{
    width:150px;
    margin-left:50px;
}
#nav{
    background-color:#545454;
    display:flex;
}
    #nav-content{
        flex-grow:1;
        margin: 5px 100px 5px 100px;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
        #nav-contact{
            display:flex;
            justify-content: space-between;
            background-color: #444444;
            border-radius:20px;
            color:white;
            margin-top:5px;
            padding:5px;
            align-items:center;
        }
            .social-medias i{
                color:white;
            }
            #nav-contact-infos{
                display:flex;
            }
        #nav-links{
            display:flex;
            justify-content: space-around;
        }
        a.nav-link{
            color:white;
            font-weight:bold;
        }
        a.nav-link:hover{
            color:#BBBBBB;
        }


/****************************************
        FOOTER
*****************************************/

#footer{
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/images/home_house.png");
    background-size: 200%;
    background-position:25%, 50%;
    background-repeat:no-repeat;
    width:100%;
    margin:0px;
}

#footer-top{
    width:80%;
    margin:20px auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}
#footer-top div{
    flex:2;
}
#footer-top .spacer{
    flex:1;
}

.footer-section{
    display:flex;
    align-items: center;
}
.footer-section i{
    font-size:75px;
    padding-right:20px;
}
.footer-section-item{
    font-size:25px;
}
.footer-links p{
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}
.footer-links a{
    border-right: 1px solid white;
    color:white;
    padding-left:50px;
    padding-right:50px;
    text-decoration:none;
}
.footer-links a:hover{
    text-decoration:underline;
}
/****************************************
        GENERAL
*****************************************/
.generic-button{
    border-radius:40px;
    color:white;
    background-image: linear-gradient(to right, #fc5000 0%, #fc9300 51%, #fc5000 100%);
    border:0px;
    transition: 0.25s;
    background-size: 200% auto;
    font-size:25px;
    padding:5px 20px 5px 20px;
}
.generic-button:hover{
    background-position: right center;
}

.generic-button.clear{
    color:white;
    background-image:none;
    background-color:transparent;
    border:2px solid white;
}

/****************************************
        HOME
*****************************************/

#home-1{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/images/home_house.png");
    background-size: 200%;
    background-position:25%, 50%;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    color:white;
}
#home-1>div{
    padding:0 10% 0 10%;
}
#home-1 h3{
    font-size:40px;
}
#home-1 h1{
    font-size:75px;
}
#home-1 h4{
    font-size:20px;
}

#home-1 button{
    font-size:20px;
}

#why-us{
    width:80%;
    margin:0px auto;
    margin-top:-75px;
    border-radius:25px;
    background-color:white;
}
.get-estimate{
    display:flex;
    padding-top:50px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    font-size:40px;
}
#why-us h3{
    text-align:center;
}
#why-us h4{
    text-align:center;
    font-size:20px;
    color:#666666;
}

.why-cards{
    display:flex;
    justify-content: space-between;
}

.why-card{
    color:black;
    width:30%;
    background-image:none;
    background-color:white;
    border:1px solid #444;
    border-radius:25px;
    padding:30px 10px 30px 10px;
    text-align:center;
    margin-top:20px;
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, visibility;
}
.why-card.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.why-card i{
    font-size:50px;
    color:#30799B;
    margin-bottom:15px;
}

.why-card:hover{
    background-image: linear-gradient(to right, #fc5000 0%, #fc9300 51%, #fc5000 100%);
    color:white !important;
}

#about-us{
    margin:80px auto;
    width:80%;
    display:flex;
    height:80%;
}
#about-us>div{
    flex:1;
}
.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    background: url("/static/images/home_about_2.png");
  grid-column: 3 / 12;
  grid-row: 1 / 9;
}

.image-stack__item--top {
    background: url("/static/images/home_about_1.png");
  grid-row: 5 / 12;
  grid-column: 1 / 10;
  z-index: 1;
}
.image-stack__item img{
    height:100%;
}
.image-stack__item{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    border-top-right-radius: 100px ;
    border-bottom-left-radius: 100px ;
}

#about-info{
    display: flex;
    justify-content: space-around;
}
#about-info h2{
    text-align:center;
    color:#30799B;
}
#about-all-info{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#our-services{
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/images/home_our_services.png");
    background-size: 100% auto;
    background-position:25%, 50%;
    background-repeat:no-repeat;
    height:80%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

.services-holder{
    width:70%;
}

.services-spacer{
    height:15%;
}

#our-services ul li div{
    color:black;
    height:100%;
    width:90%;
    padding:20px;
    margin:0px auto;
    text-align:center;
    background-color:white;
    border-radius:25px;
}

#faq{
    margin:80px auto;
    width:80%;
    display:flex;
    height:80%;
}
.faq-img{
    padding:20px;
}
.faq-img div{
    background: url("/static/images/home_faq.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height:80%;
    width:auto;
    border-bottom-left-radius: 150px;
}

#faq>div{
    flex:1;
}

#faq h2{
    margin:20px;
    text-align:center;
}

#savings-program{
    display:flex;
    height:80%;
    align-items: center;
}
#savings-1 h2{
    font-size:75px;
}
#savings-1{
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/images/home_savings_1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height:80%;
    flex:2;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding:40px;
}
#savings-2{
    background: url("/static/images/home_savings_2.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    flex:1;
    border-bottom-left-radius: 150px;
    border:5px white solid;
    height:100%;
}


/****************************************
        Estimate
*****************************************/


.estimate-button.active{
    border-radius:40px;
    color:white;
    background-image: linear-gradient(to right, #fc5000 0%, #fc9300 51%, #fc5000 100%);
    border:0px;
    transition: 0.25s;
    background-size: 200% auto;
    font-size:25px;
    padding:5px 20px 5px 20px;
}
.estimate-button:hover{
    background-position: right center;
    background-color:#3B666B;
}

.estimate-button{
    color:white;
    background-image:none;
    background-color:transparent;
    border:2px solid white;
    border-radius:40px;
    transition: 0.25s;
    font-size:25px;
    padding:5px 20px 5px 20px;
}

.estimate-field{
    visibility:hidden;
    height:0;
    display:flex;
    width:60%;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
    border-bottom: 3px solid white;
}
.estimate-field.active{
    visibility:visible;
    height:auto
}

.estimate-field label{
    color:white;
    font-size:20px;
    display:block;
}

gmp-map, #map{
    height:600px;
}
#step-2 p{
    color:white;
    text-align:center;
}

#estimate-results{
    width:60%;
    margin:0 auto;
    background-color:#485F6E;
    border-radius:15px;
}
#estimate-results table{
    width:80%;
    font-size:25px;
    color:white;
    margin:0px auto;
}

.strike{
    display:block;
    color:#fc5000;
    text-decoration:line-through;
}
.new-price{
    color:#AAFFAA;
}


@media only screen and (max-width: 1000px) {

    #home-1{
        height:50%;
    }

    #about-us{
        flex-direction:column;
    }
    #about-all-info{
        justify-content: space-around;
    }
    #faq{
        flex-direction: column;
    }
    .faq-img div{
        background-position: center center;
    }

    #our-services{
        height:50%;
    }

    #savings-2{
        display:none;
    }

    .dropdown-item{
        text-align:center;
    }
    a.nav-link{
        text-align:center;
    }
    .navbar-toggler
    {
        margin-right:20px;
    }
}