
.container{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.map{
    width:400px;
    height:400px;
}

.services{
    border:1px solid black;
    border-radius:5px;
    width:400px;
    height:400px;
}

.checkbox{
    display:flex;
    border-bottom:1px solid black;
    margin:20px;
}
.checkbox label{
    flex: 2;
    text-align:left;
}
.checkbox input{
    flex:1;
}

@media (max-width:768px){
    .container{
        flex-direction:column;
    }
    .services{
        height:auto;
    }
    .services h3{
        font-size:2rem;
    }
}