
.wrapper{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:25px;
}
.wrapper h2{
    color:black;
    border:none;
}
.wrapper *{
    text-align:center;
}
span.moneyText{
    color:var(--general-orange);
}