<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Quote for {{data.first_name}} {{data.last_name}}</h1>
    <h2>{{data.phone}}, {{data.email}}</h2>

    <h3>Information about the house:</h3>
    <a href="https://www.google.com/maps/search/?api=1&query={{data.latitude}},{{data.longitude}}" target="_blank">Open in Google Maps</a>
    <table>
        <tr>
            <td>Standard Panes</td>
            <td>{{data.standard_pane}}</td>
        </tr>
        <tr>
            <td>Standard French Panes</td>
            <td>{{data.standard_french_pane}}</td>
        </tr>
        <tr>
            <td>2+ Story Panes</td>
            <td>{{data.high_pane}}</td>
        </tr>
        <tr>
            <td>2+ Story French Panes</td>
            <td>{{data.high_french_pane}}</td>
        </tr>
        <tr>
            <td>Standard Deep Cleans needed</td>
            <td>{{data.standard_deep}}</td>
        </tr>
        <tr>
            <td>French </td>
            <td>{{data.french_deep}}</td>
        </tr>
        <tr>
            <td>Window Well Panes</td>
            <td>{{data.window_well}}</td>
        </tr>
        <tr>
            <td>Screens</td>
            <td>{{data.screen}}</td>
        </tr>
    </table>
    <h3>Savings selected:</h3>
    <table>
        <tr>
            <td>Excluded window well panes</td>
            <td>{{data.exclude_window_well_panes_count}}</td>
        </tr>
        <tr>
            <td>Exclude French Panes</td>
            <td>{{data.exclude_french_panes_count}}</td>
        </tr>
        <tr>
            <td>Water Fed Pole</td>
            <td>{{data.wfp_selected}}</td>
        </tr>
        <tr>
            <td>Do own screens</td>
            <td>{{data.own_screen_selected}}</td>
        </tr>
        <tr>
            <td>Screen repair service</td>
            <td>{{data.screen_repair}}</td>
        </tr>
        <tr>
            <td>Replace my own screens </td>
            <td>{{data.screen_replacement}}</td>
        </tr>
    </table>
</body>
</html>